# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Environment
.env

# Testing
.pytest_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/

# Project output
data/output/

# Virtual environment
.venv/

# OS
.DS_Store
